Package: zram-config-biglinux
Version: 1.0.0-1big2
Depends: zram-config
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:24
Description: Improve zram configuration to BigLinux

